  <div class="header-wrapper">   
   <nav class="navbar navbar-ct-transparent" role="navigation-demo" id="demo-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="www.creative-tim.com">Cocoon</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="presentation.html#examples">Login</a>
              </li>
              <li>
                <a href="presentation.html#examples">Sign up free</a>
              </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav> 






           <div class="header" style="background-image: url('assets/bread_header.jpg');">
                <div class="filter filter-header"></div>
                <div class="container text-center">
                        <h2>Still managing your bakery with Excel?</h2>
                        <h5>Join 1,204 others and run your bakery the right way</h5>
                        <a href="#" class="btn btn-danger btn-fill btn-lg">Sign up free</a>
                </div>
            </div>
		</div>


	

            <div class="section section-light-brown landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 column">
                            <h4>First Attribute</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="col-md-4 column">
                            <h4>Second Attribute</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="col-md-4 column">
                            <h4>Third Attribute</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>




				<footer class="footer-demo section-dark">
        <div class="container">
            <nav class="pull-left">
                <ul>
               		<li>
                        <a href="http://www.creative-tim.com">About</a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com">Features</a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">Blog</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                © 2016 Cocoon
            </div>
        </div>
    </footer>







